/* Responsivo Celular  */

@media (max-width: 767px) {


    body {
        overflow-x: hidden;
    }

    #menu {

        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }

    #header .container .logo-header img {
        max-height: 32px;
        padding-left: 20px;
        padding-top: 0px;
    }


    /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
    #hero {
        width: 100vw;
        height: calc(100vh - 80px);
        text-align: top;
        background-image: url(../img/herobg.jpg);
        background-attachment: scroll;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        align-content: center;
        position: relative;
    }

    #hero h1 {
        /* margin: 0 0 500px 0; */
        font-size: 3em;
        font-weight: 300;
        line-height: 40px;
        color: #325b78;
        width: 100%;
        text-align: center;
        padding-top: 120px;
    }

    #hero h2 {
        color: #325b78;
        /* margin-top: 40px; */
        font-size: 1.5em;
        font-weight: 300;
        width: 100%;
        text-align: center;
        /* padding-top: 50px; */
        /* bottom: 0; */
        position: relative;


    }

  

    #hero .animated {
        -webkit-animation: none;
        animation: none;
    }

    #hero .hero-img {
        text-align: center;
    }

    #hero .hero-img img {
        width: 50%;
    }

    #hero .circulo-p {
        display: none;
    }

    #hero .circulo-g {
        display: none;
    }

    #whatsapp-button {
        width: 48px;
        height: 48px;
    }
    /*--------------------------------------------------------------
# Banner
--------------------------------------------------------------*/
    .banner h3 {

        font-size: 1rem;
    }



    /*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/


    .about .section-left {

        width: 360px;
        height: 360px;
        border: 15px solid rgba(32, 25, 25, 0.286);
        padding: 15px;


    }

    .about .img-section-2 {
        background-size: 180%;
        width: 150px;
        height: 150px;
        border: 10px solid #cae1e9b9;
        top: 200px;
        right: -10px;
        display: none;

    }

    .about .box-metodo {
        display: flex;
        align-content: center;
        justify-content: center;
        padding-bottom: 30px;
    }

    .about .section-left h3 {
        text-align: center;
        font-size: 1rem;
        width: 100%;
    }

    .about .section-left p {
        font-size: 1rem;
        width: 100%;
        letter-spacing: 0.15rem;
        text-align: center;
    }



    /*--------------------------------------------------------------
# Section Three
--------------------------------------------------------------*/
    .section-threee {

        display: flex;
        flex-direction: column;
    }

    .section-threee .content {
        width: 90%;
    }

    .section-threee .circulo-personal {
        display: none;

    }

    .section-threee p {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        align-self: start;
        font-size: 1.3rem;
        /* padding: 20px; */
        
        padding-top: 90px;
    }

    .slide-ceo {
        height: 110vh;
    }

    .section-threee .slide-eduardo {
        background-image: url(../img/PERSONA-02-MOBILE.jpg);
        background-size: 100%;

    }

    .section-threee .slide-carlos {
        background-image: url(../img/PERSONA-01-MOBILE.jpg);
        background-size: 100%;

    }

    /*--------------------------------------------------------------
# Section Four
--------------------------------------------------------------*/
    .section-for {
        width: 90%;
        margin: 0 auto;
        overflow-x: hidden;
    }

    .section-four .mySwiper .swiper-slide img {
        width: 90%;
    }

    .section-four .order-imagem-projeto {
        order: 1;
    }

    .section-four .order-texto-projeto {
        order: 2;
    }

    .section-four .content h4 {
        text-align: center;
        margin: 10px auto;
    }

    .section-four .content p {
        text-align: center;
        width: 100%;
    }

    .section-four .circulo-projetos-p {


        top: 100px;
        left: 50px;

    }


    .section-four .circulo-projetos-g {

        top: -70px;
        left: 190px;

    }

    .btn-projetos {

        width: 70%;

    }

    /*--------------------------------------------------------------
# Section Fiver
--------------------------------------------------------------*/
    .section-fiver {
        background-image: url(../img/BANNER-MOBILIE-PARA-TEXTO.jpg);
        background-size: 100%;
    }


    .section-fiver .content p {
        text-align: center;
        width: 100%;
    }

    /*--------------------------------------------------------------
# Section Six
--------------------------------------------------------------*/


    .section-six .content {
        width: 90%;
        margin: 0 auto;
    }

    .section-six .content h4 {
        text-align: center;
    }


    .section-six .content p {
        text-align: center;
        width: 100%;
    }

    /*--------------------------------------------------------------
# Section Seven
--------------------------------------------------------------*/
    .section-seven .content .logo-footer {
        padding-left: 60px;
    }

    .section-seven .logo-footer {
        width: 80%;
    }

    .elementor-icon-list-item svg {
        width: 25px;
        height: 25px;

    }

    .elementor-icon-list-item a {
        font-size: 1rem;
        font-family: 'Poppins';
        font-weight: 300;
        color: #fff;
        letter-spacing: 0.1rem;
    }

    .elementor-icon-list-item a:hover {

        color: #000;

    }
}

/* Responsivo Tablet    */
@media (min-width: 768px) and (max-width:1024px) {


   
}

@media (min-width: 1441px) {
    body {
        max-width: 1440px;
        margin: 0 auto;
       
        /* Isso centralizará o conteúdo na página */
    }
    #hero{
     
        height: 900px;
        background-size: contain;
    }
}






/*--------------------------------------------------------------
  # Mobile Navigation
  --------------------------------------------------------------*/
@media (min-width: 1024px) {

    .mobile-nav-show,
    .mobile-nav-hide {
        display: none;
    }
}

@media (max-width: 1024px) {
    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 400px;
        bottom: 0;
        transition: 0.3s;
        z-index: 9997;
    }

    .navbar ul {
        position: absolute;
        inset: 0;
        margin: 0 auto;
        padding: 0px 50px 50px 0;
        margin: 0;
        background: rgba(0, 0, 0, 0.8);
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 20px;
        font-family: 'Poppins';
        font-size: 20px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.7);
        white-space: nowrap;
        text-transform: uppercase;
        transition: 0.3s;
    }

    .navbar a i,
    .navbar a:focus i {
        font-size: 18px;
        line-height: 0;
        margin-left: 5px;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
        color: #fff;
    }

    .navbar .dropdown ul,
    .navbar .dropdown .dropdown ul {
        position: static;
        display: none;
        padding: 10px 0;
        margin: 10px 20px;
        transition: all 0.5s ease-in-out;
        border: 1px solid #222428;
    }

    .navbar .dropdown>.dropdown-active,
    .navbar .dropdown .dropdown>.dropdown-active {
        display: block;
    }

    .mobile-nav-show {
        position: relative;
        color: #325b78;
        font-size: 40px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        z-index: 9999;
        padding-right: 10px;
    }

    .mobile-nav-hide {
        color: #325b78;
        font-size: 40px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 9999;
    }

    .mobile-nav-active {
        overflow: hidden;
    }

    .mobile-nav-active .navbar {
        right: 0;
    }

    .mobile-nav-active .navbar:before {
        content: "";
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 9996;
    }
}

