/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  font-family: 'Poppins', sans-serif;
  color: #444444;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23CECECC' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FFFEFF'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* max-width: 1366px;
  margin: 0 auto; */
}

a {
  color: #fcfcfc;
  text-decoration: none;
}

a:hover {
  color: #060606;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 1997;
  padding: 30px 0;
  /* background: #48494a; */
  background-color: transparent;
  text-align: center;

  transition: all 0.3s ease;


}

#headerheader-scrolled #logo {
  float: left;
  margin-left: 20px;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: #48494a;

}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .container .logo-header img {
  max-height: 50px;

}

#header .logo-scrolled {
  display: none;

}

.box-logo-header {
  display: flex;

  align-content: center;
  justify-content: center;
  padding: 20px 0px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar .link,
.navbar .link:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 75px;
  font-size: 15px;
  font-weight: 500;

  color: #86979a;
  /* color: #fff; */

  white-space: nowrap;
  transition: 0.3s;
}

.link-scrolled,
.link-scrolled:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 75px;
  font-size: 15px;
  font-weight: 500;

  color: #ffffff;
  /* color: #fff; */

  white-space: nowrap;
  transition: 0.3s;
}

.active-scrolled {
  color: #fff;

}

.navbar .link i,
.navbar .link:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar .link:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>.link {
  color: #575757;

  /* color: #fff; */
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #31a9e1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #47b2e4;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}



/**
* Mobile Navigation 
*/






@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100vw;
  height: 100vh;
  background: url("../img/DESKTOP-02.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;


}

/* #hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.712);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
} */

/* #hero .container {
  padding-top: 72px;

} */

#hero h1 {
  margin: 0 0 20px 0;
  font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  color: #fff;
  width: 50%;
}

#hero h2 {
  color: #fff;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 200;
  width: 60%;
}

#hero .circulo-p {
  background-image: url(../img/DESKTOP-01.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
  border: 20px solid #a3dbf0b9;
  border-radius: 50%;
  position: absolute;
  top: 130px;
  right: 200px;
  background-color: #f3f3f3;
  /* animation-duration: 5s;
  animation-name: moverpequeno; */
}

#hero .circulo-g {
  background-image: url(../img/DESKTOP-01.jpg);
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  width: 380px;
  height: 380px;
  border: 20px solid #a3dbf0b9;
  border-radius: 50%;
  position: absolute;
  top: 250px;
  right: 440px;
  background-color: #fff;

  /* animation-duration: 5s;
  animation-name: movergrande; */
}

@keyframes movergrande {
  from {
    top: 330px;
  }

  to {
    top: 250px;
  }
}

@keyframes moverpequeno {
  from {
    top: 0px;
  }

  to {
    top: 130px;
  }
}





@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Banner
--------------------------------------------------------------*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* font-size: 18px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.banner h3 {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1rem;
  line-height: 1.7rem;
  color: #3e6580;
}





/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
  position: relative;
}

.about .contant {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;

}

.about .section-left {

  width: 700px;
  height: 700px;
  border: 50px solid rgba(32, 25, 25, 0.286);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  align-items: center;
  background-color: #fff;
  z-index: 99;
}

.about h3 {

  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1rem;
  line-height: 3rem;
  color: #3e6580;

}

.about .section-left p {

  font-size: 1.4rem;
  font-weight: 300;
  width: 90%;
  color: #52738a;
  letter-spacing: 0.3rem;


}

.about .img-section-2 {
  background-image: url(../img/CASAS/CASA-OLIVER/casa-oliver-04.jpg);
  background-position: top;
  background-size: 700px;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  border: 20px solid #cae1e9b9;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  right: 150px;
  z-index: 88;

}



/*--------------------------------------------------------------
# Section Three
--------------------------------------------------------------*/
.section-threee {

  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;

}

.section-threee .swiper {
  width: 100%;
  height: 100%;
}



.section-threee .swiper-slide img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}


.section-threee p {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 0.4rem;
  line-height: 1.7rem;
  color: #3e6580;
  width: 35%;
  margin-right: 550px;
  text-align: left;

}

.section-threee .circulo-personal {
  width: 600px;
  height: 600px;
  border: 50px solid rgba(32, 25, 25, 0.286);
  border-radius: 50%;
  position: absolute;
  right: 60px;

}

/* .section-threee img {
  position: absolute;
  bottom: -150px;
  width: 15%;
} */

.section-threee .slide-eduardo {
  background-image: url(../img/PERSONA-02.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section-threee .slide-carlos {
  background-image: url(../img/PERSONA-01.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}




/*--------------------------------------------------------------
# Section Four
--------------------------------------------------------------*/
.section-four {
  /* background-color: #fff; */
  position: relative;
  overflow-x: hidden;
}

.section-four h3 {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1rem;
  line-height: 1.7rem;
  color: #3e6580;

}



.btn-projetos {
  border: 2px solid #48494a;
  background-color: #48494a;
  color: #fff;
  height: 50px;
  width: 20%;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-projetos:hover {
  border: 2px solid #48494a;
  background-color: #fff;
  color: #48494a;

}

.hidden {
  opacity: 0;
  display: none;
}


.section-four .content .img-section-four {
  width: 80%;
  border: 20px solid rgba(158, 164, 165, 0.594);
  border-radius: 50%;
}

.section-four .content h4 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  line-height: 1.7rem;
  color: #3e6580;
  text-transform: uppercase;

}

.section-four .content p {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 1rem;

  line-height: 24px;
  color: #3e6580;
  margin-top: 1rem;
  width: 80%;
  padding: 20px 0px;
}

.section-four .wrapper-img-casa {
  position: relative;
}

.section-four .mySwiper .swiper-slide img {
  width: 100%;


}

.section-four .circulo-projetos-p {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 15px solid rgba(214, 206, 206, 0.596);
  background-color: transparent;
  position: absolute;

  top: 100px;
  left: 150px;
  animation-name: skate_01;
  animation-duration: 5s;
  animation-iteration-count: infinite;

  z-index: 99;
}


.section-four .circulo-projetos-g {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 15px solid rgba(214, 206, 206, 0.596);
  background-color: transparent;
  position: absolute;
  top: -20px;
  left: 350px;
  animation-name: skate_01;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  z-index: 99;
}

@keyframes skate_01 {
  0% {
    transform: translateY(400px);
  }

  50% {
    transform: translateY(00px);
  }

  100% {
    transform: translateY(400px);
  }
}







.section-four .order-texto-projeto {
  z-index: 999;
}


/*--------------------------------------------------------------
# Section Fiver
--------------------------------------------------------------*/

.section-fiver {
  background-image: url(../img/BANNER-DESKTOP-PARA-TEXTO.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}


.section-fiver .content h4 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  line-height: 1.7rem;
  color: #ffffff;
  text-transform: uppercase;
}

.section-fiver .content p {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 0.4rem;
  line-height: 1.7rem;
  color: #ffffff;
  margin-top: 100px;
  width: 70%;
}



/*--------------------------------------------------------------
# Section Six
--------------------------------------------------------------*/

/* .section-six {
  background-color: #fff;
} */

.section-six .content .img1,
.img2 {
  width: 60%;
  border: 10px solid rgba(158, 164, 165, 0.594);
  border-radius: 50%;
}

.section-six .content .img2 {
  margin-left: 150px;
}

.section-six .content h4 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  line-height: 1.7rem;
  color: #3e6580;
  text-transform: uppercase;
}


.section-six .content p {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 1rem;

  line-height: 2rem;
  color: #3e6580;
  margin-top: 1rem;
  width: 80%;
  padding: 20px 0px;
}

/*--------------------------------------------------------------
# Section Seven
--------------------------------------------------------------*/
.section-seven {
  background-color: #86979a;
}

.section-seven .logo-footer {
  width: 50%;
}

.section-seven .form .form-label {
  font-size: 1rem;
  font-family: 'Poppins';
  font-weight: 300;
  color: #000;
  letter-spacing: 0.4rem;
  margin-left: 50px;
  margin-top: -20px;
  padding: 0px 20px;
  position: absolute;
  background-color: #86979a;
}

.section-seven .form .form-control {
  border: 1px solid #fff;
  background-color: transparent;
  height: 40px;
  border-radius: 15px;
}

.section-seven .form .form-mensagem {
  border: 2px solid #fff;
  background-color: transparent;
  height: 150px;
  border-radius: 20px;
}

.section-seven .form button {
  border: 2px solid #fff;
  background-color: #fff;
  color: #929697;
  height: 50px;
  width: 100%;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;

}

.section-seven .form button:hover {
  border: 2px solid #fdfdfd;
  background-color: #000000;
  color: #f8fdfe;
}


.elementor-icon-list-items {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.elementor-icon-list-item {
  list-style-type: none;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  font-size: inherit;
  padding-bottom: calc(33px/2);
}

.elementor-icon-list-item a {
  font-size: 1rem;
  font-family: 'Poppins';
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.4rem;
}

.elementor-icon-list-item a:hover {

  color: #000;

}